.rodape {
    background-color: #C4C4C4;
    color: #FFF;
    display: flex;
    font-family: Roboto;
    font-size: 2rem;
    justify-content: right;
    padding: 1rem;
    text-align: right;
    text-transform: lowercase;
}